.wrapper {
  padding: 1rem;
  min-height: 100vh;
  width: 25rem;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.header {
  text-transform: uppercase;
  flex-grow: 0;
}

.header_text {
  font-weight: 400;
  margin: 0;
  word-break: keep-all;
  letter-spacing: 0.6ch;
}

.text {
  text-transform: uppercase;
  font-size: 0.75rem;
}

.header_subtext {
  font-weight: 400;
  font-size: 0.67rem;
}

.main {
  width: 100%;
  display: grid;
  gap: 1rem;
}

.toolbelt_form {
  display: grid;
  gap: 1.5rem;
}

.flex_row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  gap: 0.5rem;
}

.input_text {
  width: 8rem;
  background: none;
  border: none;
  border-bottom: 1px solid white;
  font-family: inherit;
}

.input_items {
  background: none;
  border: none;
  display: inline-block;
  width: 5ch;
  text-align: center;
  font-family: inherit;
}

.input_items::-webkit-outer-spin-button,
.input_items::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.counter {
  width: 8rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 3px;
  background-color: hsl(0, 0%, 17%);
}

.btn {
  font-family: inherit;
  display: grid;
  place-items: center;
  cursor: pointer;
  padding: 0.5rem;
  border: none;
  border-radius: 3px;
  background-color: hsl(0, 0%, 17%);
  font-family: inherit;
}

.btn_action {
  width: 100%;
}

.btn_stripped {
  background: none;
  border: none;
  cursor: pointer;
  font-family: inherit;
}

.btn_stripped:hover, .btn:hover {
  opacity: 0.5;
}

.excluded_list {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
}

.footer {
  width: 100%;
  display: grid;
  place-items: center;
  text-align: center;
  gap: 1rem;
}

.footer a {
  width: 100%;
}