.main {
  padding: 1rem;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  display: grid;
  place-items: center;
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: hsl(0, 0%, 10%);
}

.form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  gap: 1.5rem;
}

.label {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
  text-transform: capitalize;
  font-size: 0.8rem;
}

.excluded_ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 0.5rem;
}

.btn_bubble {
  cursor: pointer;
  border-radius: 0.2rem;
  border: none;
  padding: 0.5rem;
  background-color: hsl(0, 0%, 15%);
}

.btn_bubble:hover {
  background-color: hsl(0, 0%, 20%);
}
